div#table-root{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 95vw;
    max-height: 55vh;
    overflow-x: scroll;
}

div#input-root{
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
}

table{
    width: 100%;
    min-width: 1100px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#name-th, #count-th, #time-th{
    cursor: pointer;
}

th, td{
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}



th{
    text-transform: uppercase;
    /*background-color: rgba(5, 125, 146, 0.2);*/

    background-color: #006767;
    position: sticky;
    top: 0;
}

h1{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-transform: uppercase;
}

tr:not(#tr-header):hover {
     background-color: rgba(255,255,255,0.1);

 }

tr td {
    max-width:100%;
    white-space:nowrap;
}

td.lecture-td:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.25);
}

td p.surname{
    display: inline-block;
}
td p.surname::first-letter{
    font-weight: bold;
    font-size: large;

}

.not-finished{
    color: #ffaeae;
}

#name-finder{
    border: 3px solid #006767;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 160px;
}

#name-finder:focus{
    outline: none;
}