#graph-container{
    background-color: #353a45;
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 900px) {
    #graph-container{
        width: 100vw;
    }

}