.opened-modal{
    display: block !important;
}

.closed-modal{
    display: none !important;
}

.teal-color{
    background-color: #006767;
}

.modal-body{
    color: #005151;
}

h2{
    text-align: center;
}

footer.w3-container{
    height: 45px !important;
}

#modal-table{
    margin-bottom: 35px;
    display: table;
    width: 100% !important;
    min-width: 100px !important;
}

#modal-table tr{
    border-bottom: 1px solid #005151;

}

#modal-table .time-td-modal{
    text-align: left;

}

#modal-table .type-td-modal{
    text-align: right;

}

.time-p,
.end-time-p{
    text-align: center;
}

.modal-time-stats{
    padding-left: 10px;
    padding-right: 10px;

    background-size: 20px 20px;
}

.modal-time-stats-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-time-stats-white{
    display: inline-block;
    background-color: white;
    margin-bottom: 20px;
}

.w3-modal-content{
    background-color: whitesmoke !important;
}
