.hide{
    position:absolute;
    left:-9999px;
    top:-9999px;
}

.button-container{
    text-align: center;
    margin-bottom: 30px;
}

.button-container button{
    margin: 10px;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    border-bottom: 1px solid white;
    background-color: transparent;
    transition: color 0.5s linear, transform 0.5s linear, border-bottom-color 0.5s linear;
    width: 100px;
}

.active-button{
    border-bottom: 1px solid #00bebe !important;
}

.button-container button:hover{
    color: #00bebe;
    transform: scale(1.1);
    border-bottom: 1px solid #00bebe;
}


.button-container button:focus{
    outline: none;
}

#page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    padding-bottom: 10px;
    z-index: -1;
    text-align: center;
}