body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: #282c34 #808080;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  background-color: #282c34;
  width: 10px;
  border-radius: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #282c34;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #808080;;

  border-radius: 1px;
}

::-webkit-scrollbar-corner { background-color: #282c34; }